*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
#container {
	margin: 0 auto;
}
.profile-image-box > img {
	height: 250px;
	width: 250px;
}
.cover-image-box > img {
	height: 250px;
	width: 450px;
}
#profile-pic {
	width:50px;
	height: 50px;
}
#edit-profile-pic-container {
	display:inline-block;
	margin: 10px 20px 30px 0;
}
#edit-profile-pic-container > label {
	width:250px;	
}
#edit-profile-pic-container > a {
	display:block;
	width:250px;	
}
#edit-cover-container {
	display:inline-block;
	margin: 10px 20px 30px 0x;
}
#edit-cover-container > a {
	display:block;
	width: 450px;
}
#edit-cover-container > label {
	width: 450px;
}
#edit-profile-params button{
	width:150px;
}
#edit-profile-params input[type="text"] {
	width:300px;
}
#edit-profile-params input[type="email"] {
	width:300px;
}
#edit-profile-params input[type="radio"] {
	margin:10px 10px 10px 15px;
}
#search-pic {
	width:40px;
	height:40px;
}
#search-bar {
	position:absolute;
	margin-left:83%;
}
#search-results {
	position:absolute;
	margin-left:83%;
	margin-top:5%;
	border:2px solid #BFDFF7 ;
	border-radius:6px;
	padding:10px;
	width:200px;
}
#search-results ul{
	list-style-type: none;
}
#search-results ul li{
	width:500px;
}

#navigation input {
	float:right;
	margin-top:10px;
	width:200px;
}