<div class="container">
    <legend>Change password</legend>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" ng-if="isLoggedIn()" name="changePasswordForm" ng-submit="changePassword(userData)">
                <input type="password" class="input-lg form-control" name="oldPassword" id="oldPassword" placeholder="Old Password" ng-model="userData.oldPassword"
                required>
                <input type="password" class="input-lg form-control" name="newPassword" id="newPassword" placeholder="New Password" ng-model="userData.newPassword"
                required>
                <input type="password" class="input-lg form-control" name="confirmPassword" id="confirmPassword" placeholder="Repeat Password"
                ng-model="userData.confirmPassword" />
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" value="Change Password" ng-disabled="changePasswordForm.$invalid"
                />
            </form>
        </div>
        <!--/col-sm-6-->
    </div>
    <!--/row-->
</div>