<form ng-if="isLoggedIn()" name="editProfileForm" ng-submit="editProfile(userData)">
    <fieldset ng-init="loadDataAboutMe()">
        <legend>Edit Profile</legend>
        <div>
            <label for="profile-image">Profile image:</label>
            <input type="file" id="profile-image" onchange="angular.element(this).scope().profileFileSelected(this)"
            />
            <div class="image-box">
                <img class="profile-image" ng-src="{{userData.profileImageData}}" />
            </div>
        </div>
        <a ng-click="changeProfileImage()" class="btn btn-primary">Change Profile Image</a>
        <a ng-click="deleteProfileImage()" class="btn btn-warning">Delete Profile Image</a>
        <div>
            <label for="cover-image">Cover image:</label>
            <input type="file" id="cover-image" onchange="angular.element(this).scope().coverFileSelected(this)" />
            <div class="image-box">
                <img class="cover-image" ng-src="{{userData.coverImageData}}" />
            </div>
        </div>
        <a ng-click="changeCoverImage()" class="btn btn-primary">Change Cover Image</a>
        <a ng-click="deleteCoverImage()" class="btn btn-warning">Delete Cover Image</a>
        <br><br>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="userData.name" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="userData.email" placeholder="example@yahoo.com" required/>
        </div>
        <div>
            <label>Gender</label>
            <input type="radio" name="gender" ng-model="userData.gender" ng-value="2" />Male
            <input type="radio" name="gender" ng-model="userData.gender" ng-value="1" />Female
            <input type="radio" name="gender" ng-model="userData.gender" ng-value="0" />Other</div>
        <button type="submit" class="btn btn-success" ng-disabled="editProfileForm.$invalid">Edit Profile</button>
        <a href="#/" class="btn btn-danger">Cancel</a>
    </fieldset>
</form>