<div class="container" ng-init="loadUserFullData()">
	<legend>{{userFullData.name}}'s Friends</legend>
	<div ng-init="loadFriendsDetailedFriendsList()">
		<ul ng-repeat="friend in friends" class="row all-friends" >
			<li class="friend-item">
				<a href="/#/users/{{friend.username}}">
            <p>{{friend.name}} ({{friend.username}})</p>
            <img ng-src="{{friend.profileImageData || defaultProfilePic}}" title="{{friend.name}}"/>
        </a>
			</li>
		</ul>
	</div>
</div>