<div ng-if="!isLoggedIn()">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<!-- Login -->
								<h1>Login</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<input type="text" name="username" id="username" ng-model="userLogData.username" tabindex="1" class="form-control" placeholder="Username"
									value="">
								</div>
								<div class="form-group">
									<input type="password" name="password" id="password" ng-model="userLogData.password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="login-submit" ng-click="login(userLogData)" id="login-submit" tabindex="4" class="form-control btn btn-login"
											value="Log In">
										</div>
									</div>
									<hr>
									<!-- Register -->
									<h1>Register</h1>
								</div>
								<div class="form-group">
									<!-- username -->
									<input type="text" name="username" ng-model="userData.username" tabindex="1" class="form-control" placeholder="Username"
									value="">
								</div>
								<div class="form-group">
									<input type="password" name="password" ng-model="userData.password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<div class="form-group">
									<input type="password" name="confirm-password" ng-model="userData.confirmPassword" tabindex="2" class="form-control" placeholder="Confirm Password">
								</div>
								<div class="form-group">
									<input type="text" name="name" ng-model="userData.name" tabindex="1" class="form-control" placeholder="Name" value="">
								</div>
								<div class="form-group">
									<input type="email" name="email" ng-model="userData.email" tabindex="1" class="form-control" placeholder="Email Address"
									value="">
								</div>
								<!-- radio buttons -->
								<div class="form-group">
									<div class="radio">
										<label>
											<input type="radio" ng-model="userData.genre" ng-value="2" name="genre">Male</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" ng-model="userData.genre" ng-value="1" name="genre">Female</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" ng-model="userData.genre" ng-value="0" name="genre">Other</label>
									</div>
								</div>
								<!-- end of radio buttons -->
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<input type="submit" name="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" ng-click="register(userData)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="isLoggedIn()">
	<div>
		<div ng-include="'templates/news-feed.html'"></div>
	</div>
</div>