<nav class="navbar container" id="navigation">
    <div class="row" ng-init="loadDataAboutMe()">
        <a>{{userData.name}}</a>
        <div class="col-sm-12 col-sm-offset-3"></div>
        <img src="" id="profile-pic" alt="profile pic" ng-src="{{userData.profileImageData}}" />
        <a class="btn btn-primary" href="/#/">News Feed</a>
        <a class="btn btn-info" href="#/pendingFriendRequests">Friend requests</a>
        <a class="btn btn-success" href="#/profile">Edit Profile</a>
        <a class="btn btn-warning" href="#/profile/password">Change password</a>
        <a class="btn btn-danger" href="#" ng-click="logout()">Logout</a>
        <input type="text" id="search-bar" ng-model="searchTerm" ng-change="search(searchTerm)" class="input-md form-control" placeholder="Search"
        ng-focus="showHideResults()" ng-blur="showHideResults()" />
        <div ng-show="showSearchResults" id="search-results">
            <ul>
                <li ng-repeat="user in searchResults">
                    <img ng-src="{{user.profileImageData || defaultProfilePic}}" id="search-pic" />{{user.name}}</li>
            </ul>
        </div>
    </div>
    </div>
</nav>