<div ng-if="authService.isLoggedIn()" class="container" ng-controller="UserController" ng-init="loadUserFullData()">
    <!-- Own Wall -->
    <div ng-if="isOwnWall">
        <div class="row" ng-init="loadDataAboutMe()">
            <legend>Me ({{userData.name}})</legend>
            <div class="user-profile">
                <img class="profile-cover" ng-src="{{userData.coverImageData || defaultCoverPic}}" alt="cover image" />
                <br></br>
                <img class="profile-image" class="profile-image" ng-src="{{userData.profileImageData || defaultProfilePic}}" alt="profile image"
                />
            </div>
            <!-- Last 6 friends -->
            <div ng-init="loadOwnFriendsPreview()" class="last-friends">
                <a ng-init="loadOwnFriends()" class="btn btn-primary" href="#/myfriends">Friends ({{friendsList.length}})</a>
                <ul>
                    <li class="friends" ng-repeat="friend in friendsPreview.friends | limitTo: 6">
                        <a href="#/users/{{friend.username}}">
                        <img ng-src="{{friend.profileImageData || defaultProfilePic}}"/> {{friend.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- End of Last 6 friends -->
        </div>
    </div>
    <!-- End Of Own Wall -->
    <!-- users -->
    <div ng-if="!isOwnWall">
        <div class="row">
            <legend>{{userFullData.name}} ({{userFullData.username}})
                <!-- user status -->
                <button class="btn btn-primary" ng-if="userFullData.status === 'invite'" ng-click="sendFriendRequest(userFullData)">Send friend request</button>
                <button class="btn btn-primary" ng-if="userFullData.status === 'pending'" disabled>Friend request pending</button>
                <button class="btn btn-primary" ng-if="userFullData.status === 'friend'" disabled>Friend</button>
            </legend>
            <div class="user-profile">
                <img class="profile-cover" ng-src="{{userFullData.coverImageData || defaultCoverPic}}" alt="cover image" />
                <br></br>
                <img class="profile-image" class="profile-image" ng-src="{{userFullData.profileImageData || defaultProfilePic}}" alt="profile image"
                />
                <!-- last friends view -->
                <div ng-if="userFullData.status === 'friend'">
                    <div ng-init="loadFriendsPreviewOfFriends()" class="last-friends">
                        <a ng-if="userFullData.status === 'friend'" ng-init="loadFriendsDetailedFriendsList()" class="btn btn-primary" href="/#/users/{{userFullData.username}}/friends">Friends ({{friends.length}})</a>
                        <ul>
                            <li class="friends" ng-repeat="friend in friendsPreview.friends | limitTo: 6">
                                <a href="#/users/{{friend.username}}">
                        <img ng-src="{{friend.profileImageData || defaultProfilePic}}"/> {{friend.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of last friend view -->
            </div>
        </div>
    </div>
    <!-- users -->
</div>